/*body header*/
#body_header{
	position: relative;
	background-image: url("../img/com.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 200px;
}
#body_header h1 {
	text-align: center;
	margin-top: 0px;
	padding-top: 60px;
	color: white;
	font-size: 3em;
}
/*navigational aid*/
#breadcrumb{
	max-width: 50%;
	margin:auto;
	text-align: center;
	color:white;
}
#breadcrumb a{
	text-decoration: none;
	color: white;
}
#breadcrumb p{
	display: inline;
}
/*main part of the body*/
section{
	width: 80%;
	margin:auto;
}
/*icon of the forms*/
.form1 i, .form2 i{
	color: green;
	margin-top: 0px;
	display: none;
}
/*answer container */
.ansExplanation{
	display: none;
}
.form1, .form2, .form3{
	border: none;
	border-bottom-style: solid;
	padding-bottom: 10px;
	border-bottom-width: 1px;
}
.form1 input, .form2 input, .form3 input{
	margin-bottom: 15px;
}
#btn1, #btn2, #btn6{
	margin-top: 20px;
	color:grey;
}
/*result section*/
#result1, #result2, #result3{
	font-size: 2em;
}
#buttonsDiv{
	text-align: center;
	margin:10px;
}
/*quiz one*/
#section1{
	color:grey;
}
/*quiz two*/
#section2{
	display: none;
	color: grey;
	transition-delay: 2s;
}
/*quiz three*/
#selectId{
	color:grey;
	font-size: 15px;
}
#numList{
	width: 150px;
}
#section3{
	display: none;
	color:grey;
}
#dragNdrop1{
	height: 50px;
	border:1px solid grey;
}
#form3 div{
	height: 30px;
	margin-bottom: 10px;
}
#form3 div p{
	margin:0px;
	cursor: pointer;
}
#div2{
	display: none;
}
/*answer explanation for quiz three*/
.showAns{
	display: none;
}
.ans1{
	margin-bottom: 20px;
	cursor: pointer;
}
.ans1:active{
	width: 40%;
	background-color: #5382A1;
	color:white;
}
#form4{
	position: relative;
}
/*slider for quiz three*/
#leftArrow{
	position: absolute;
	left:-50px;
	top:40%;
}
#rightArrow{
	position: absolute;
	right: 0px;
	top: 40%;
}
#leftArrow, #rightArrow{
	border:none;
	background-color: #E9EBEE;
	color: grey;
	font-size: 30px;
	cursor: pointer;
}
#leftArrow:hover, #rightArrow:hover{
	color: black;
}
#btn3, #btn4, #btn5{
	color:grey;
}
/*radion buttons */
.form1 input[type = "radio"]{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        outline: none;
}
@media screen and (max-width: 936px){
	#logo{
	display: none;
	}
	/*menu*/
	#threeLine{
		display: block;	
	}

	#threeLine:hover, #close:hover{
		color: black;
		cursor:pointer;
	}
	/*navigation*/
	#navUl{
		display: none;
	}
	#body_header h1{
		font-size: 2.5em;
	}
	/*main part of the body*/
	section{
		width: 90%;
	}
	.form1, .form2, .form3{
		background-color: white;
		padding:1px 10px 10px 10px;
		margin-bottom: 15px;
		border:none;
		border-radius: 3px;
	}
	#div1, #div2{
		width: 50%;
		margin: auto;
	}
	/*slider button*/
	#leftArrow{
		position: absolute;
		left: 0px;
	}
	#leftArrow, #rightArrow{
		background-color: white;
	}
	.ans1:active{
		width: 100%;
	}
}